@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div id="details">
  <h2>Who's gonna get certified for the <span id="accent">@Model.Name</span>?</h2>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    <p id="accent">And the lucky one will be...</p>
    @Html.DropDownList("EngineerId")
    <br>
    <input type="submit" value="Make it official" id="larger-button">
  }
</div>
<hr>

<p id="mlink">@Html.ActionLink("Scratch that", "Details", new { id = Model.MachineId })</p>
<p id="mlink">@Html.ActionLink("Manage machines", "Index")</p>
<p id="elink">@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>