@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div id="details">
<h2>Let's add this bad boy</h2>

@using (Html.BeginForm())
{
  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "font-weight:600; color:red;"})</p>
  <span id="accent">@Html.LabelFor(model => model.Name)</span>
  @Html.TextBoxFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Description, "", new { @style = "font-weight:600; color:red;"})</p>
  <span id="accent">@Html.LabelFor(model => model.Description)</span>
  @Html.TextAreaFor(model => model.Description)
  <p>@Html.ValidationMessageFor(model => model.InstallDate, "", new { @style = "font-weight:600; color:red;"})</p>
  <span id="accent">@Html.Label("Install Date")</span>
  @Html.EditorFor(model => model.InstallDate)
  <br><br>
  <input type="submit" value="LET'S RAGE" id="larger-button">
}
</div>
<hr>

<p id="mlink">@Html.ActionLink("Actually, NVM", "Index")</p>
<p id="elink">@Html.ActionLink("Let's see engineers instead", "Index", "Engineers")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>