@{
  Layout = "_Layout";
}

<div id="details">
  <h2>Are you sure you want to remove <span id="accent">@Model.Name</span>?</h2>

  @using (Html.BeginForm())
  {
    <input type="submit" value="kill it." id="larger-button">
  }
</div>
<hr>

<p id="mlink">@Html.ActionLink("NVM NVM NVM", "Details", new { id = Model.MachineId })</p>
<p id="mlink">@Html.ActionLink("Manage machines", "Index")</p>
<p id="elink">@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>