@{
  Layout = "_Layout";
}

@using Factory.Models;

<div id="details">
  <h2 id="ename">@Model.Name</h2>
  <h5>@Model.Description</h5>
  <p>Install Date: <span id="accent">@Model.InstallDate.ToString("d")</span></p>
  <hr>

  <h4>Certified technicians</h4>
  <ul>
    @if (Model.Repairs.Count == 0)
    {
      <p id="accent">No dice! Teach some folks</p>
    }
    else
    {
      @foreach (Repair tech in Model.Repairs)
    {
        <li><span id="list">@Html.ActionLink(@tech.Engineer.Name, "Details", "Engineers", new { id = tech.Engineer.EngineerId})</span> (@tech.Engineer.Pronouns)</li>
        @using (Html.BeginForm("DeleteRepair", "Machines"))
        {
          @Html.Hidden("repairId", @tech.RepairId)
          @Html.Hidden("machineId", @tech.MachineId)
          <input type="submit" value="UN-certify" id="button">
        }
      }
    }
  </ul>
</div>
<hr>

<p id="mlink">@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.MachineId })</p>
<p id="mlink">@Html.ActionLink($"Kill {Model.Name}", "Delete", new { id = Model.MachineId })</p>
<p id="mlink">@Html.ActionLink("Manage machines", "Index")</p>
<p id="elink">@Html.ActionLink("Certify some folks", "AddEngineer", new { id = Model.MachineId })</p>
<p id="elink">@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>