@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div id="details">
  <h2>Edit <span id="accent">@Model.Name</span></h2>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    <p>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "font-weight:600; color:red;"})</p>
    <span id="accent">@Html.LabelFor(model => model.Name)</span>
    @Html.TextBoxFor(model => model.Name)
    <p>@Html.ValidationMessageFor(model => model.Description, "", new { @style = "font-weight:600; color:red;"})</p>
    <span id="accent">@Html.LabelFor(model => model.Description)</span>
    @Html.TextAreaFor(model => model.Description)
    <p>@Html.ValidationMessageFor(model => model.InstallDate, "", new { @style = "font-weight:600; color:red;"})</p>
    <span id="accent">@Html.Label("Install Date")</span>
    @Html.EditorFor(model => model.InstallDate)
    <br><br>
    <input type="submit" value="Update Update Update" id="larger-button">
  }
</div>
<hr>

<p id="mlink">@Html.ActionLink("NVM NVM NVM", "Details", new { id = Model.MachineId })</p>
<p id="mlink">@Html.ActionLink("Manage machines", "Index")</p>
<p id="elink">@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>