@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Model.Name</h2>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  <p>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "font-weight:600; color:red;"})</p>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <p>@Html.ValidationMessageFor(model => model.Description, "", new { @style = "font-weight:600; color:red;"})</p>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <p>@Html.ValidationMessageFor(model => model.InstallDate, "", new { @style = "font-weight:600; color:red;"})</p>
  @Html.Label("Install Date")
  @Html.EditorFor(model => model.InstallDate)
  <br><br>
  <input type="submit" value="LET'S RAGE">
}
<br>
<hr>
<p>@Html.ActionLink("NVM NVM NVM", "Details", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Manage machines", "Index")</p>
<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("All the way nvm", "Index", "Home")</p>