@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2>The Machines</h2>

@if (Model.Count == 0)
{
  <p>The list is empty... For now</p>
}
@foreach (Machine thing in Model)
{
  <p>@Html.ActionLink(@thing.Name, "Details", new { id = @thing.MachineId }) - (@thing.InstallDate)</p>
}
<hr>
<p>@Html.ActionLink("Add a new machine", "Create", "Machines")</p>
<p>@Html.ActionLink("Add a new engineer", "Create", "Engineers")</p>
<p>@Html.ActionLink("Manage engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("Actually, all the way nvm", "Index", "Home")</p>