@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models;

<div id="details">
  <h2>Select which certifications to add for <span id="ename">@Model.Name</span></h2>
</div>

<form method="post">
  <table class="table" id="details">
    <tr id="accent">
      <th>Machine</th>
      <th>Description</th>
      <th>Check</th>
    </tr>
    @foreach (Machine robot in ViewBag.machines)
    {
      <tr>
        <td id="homelinks">@robot.Name</td>
        <td>@robot.Description</td>
        <td><input name="robots" type="checkbox" value="@robot.MachineId"></td>
      </tr>
    }
  </table>
  <input type="hidden" value="@Model.EngineerId" name="engineerId" id="engineerId">
  <input type="submit" value="Let's gooooo" id="larger-button">
</form>
<br>

<p id="elink">@Html.ActionLink("Scratch that", "Details", new { id = Model.EngineerId })</p>
<p id="elink">@Html.ActionLink("Manage engineers", "Index")</p>
<p id="mlink">@Html.ActionLink("Manage machines", "Index", "Machines")</p>
<p id="hlink">@Html.ActionLink("All the way nvm", "Index", "Home")</p>