@{
  Layout = "_Layout";
}

<h2>Are you sure you want to remove @Model.Name?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Get them out of my sight... Forever">
}
<br>
<p>@Html.ActionLink("NVM NVM NVM", "Details", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Manage engineers", "Index")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>
<p>@Html.ActionLink("All the way nvm", "Index", "Home")</p>