@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2>@Model.Name</h2>
<h4>@Model.Pronouns</h4>
<p>Hire Date: @Model.HireDate.ToString("d")</p>
<hr>
<h4>Certifications</h4>
<ul>
  @if (Model.Repairs.Count == 0)
  {
    <p>No dice! Teach them some things</p>
  }
  else
  {
    @foreach (Repair tech in Model.Repairs)
    {
      <li>@Html.ActionLink(@tech.Machine.Name, "Details", "Machines") | @tech.Machine.Description</li>
      @using (Html.BeginForm("DeleteRepair", "Engineers"))
      {
        @Html.Hidden("repairId", @tech.RepairId)
        @Html.Hidden("engineerId", @tech.EngineerId)
        <input type="submit" value="UN-certify">
      }
    }
  }
</ul>
<hr>

<p>@Html.ActionLink($"Give {Model.Name} some robots", "AddRepairs", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink($"Break up with {Model.Name}", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Manage engineers", "Index")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>
<p>@Html.ActionLink("All the way nvm", "Index", "Home")</p>