@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2>See the family</h2>

@if (Model.Count == 0)
{
  <p>Yea, nobody's home 😔</p>
}
@foreach (Engineer dude in Model)
{
  <p>@Html.ActionLink(@dude.Name, "Details", new { id = @dude.EngineerId }) - @dude.Pronouns</p>
}
<hr>
<p>@Html.ActionLink("Add a new engineer", "Create", "Engineers")</p>
<p>@Html.ActionLink("Add a new machine", "Create", "Machines")</p>
<p>@Html.ActionLink("Manage machines", "Index", "Machines")</p>
<p>@Html.ActionLink("All the way nvm", "Index", "Home")</p>